---
import { getCollection } from "astro:content";

import BlogPostPreview from "@/components/BlogPostPreview.astro";
import Layout from "@/layouts/Layout.astro";

const posts = (await getCollection("blog")).sort(
  (lhs, rhs) => rhs.data.pubDate.valueOf() - lhs.data.pubDate.valueOf(),
);
---

<Layout title="Blog">
  <section
    class="container mx-auto grid grid-cols-1 gap-8 px-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
  >
    {posts.map((post) => <BlogPostPreview post={post} />)}
  </section>
</Layout>
