---
import type { MarkdownHeading } from "astro";

import { generateToc } from "./generateToc";
import TableOfContentsItem from "./TableOfContentsItem.astro";

type Props = {
  headings: Array<MarkdownHeading>;
  class?: string;
};
const { headings, class: classNames } = Astro.props;
const toc = generateToc(headings);
---

<nav
  class:list={[
    "rounded-lg bg-base p-8 text-lg leading-loose font-medium shadow-sm",
    classNames,
  ]}
>
  <h2 class="mb-4 text-2xl font-bold">Table of contents:</h2>
  <ol>
    {toc.map((heading) => <TableOfContentsItem heading={heading} />)}
  </ol>
</nav>
