---
import Card from "@/components/Card.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Hello world</h1>

    <a href="/projects">Projects</a>
    <a href="/blog">Blog</a>

    <Card name="Test Card">Card Content</Card>
  </main>
</Layout>
