---
import { Icon } from "astro-icon/components";

type Props = {
  kind: "note" | "tip" | "warning" | "caution";
};
const { kind } = Astro.props;
---

<div
  class:list={[
    "not-prose my-8 flex flex-col gap-4 border-l-4 p-4 leading-normal",
    { "border-l-blue": kind === "note" },
    { "border-l-green": kind === "tip" },
    { "border-l-peach": kind === "warning" },
    { "border-l-red": kind === "caution" },
  ]}
>
  <div
    class:list={[
      "flex gap-2 font-bold capitalize",
      { "text-blue": kind === "note" },
      { "text-green": kind === "tip" },
      { "text-peach": kind === "warning" },
      { "text-red": kind === "caution" },
    ]}
  >
    <Icon
      name={{
        note: "tabler:info-circle-filled",
        tip: "tabler:bulb-filled",
        warning: "tabler:alert-triangle-filled",
        caution: "tabler:alert-hexagon-filled",
      }[kind]}
      size={28}
    />
    {kind}
  </div>
  <slot />
</div>
