---
type Props = {
  svg: string;
};
const { svg: Svg } = Astro.props;
---

<div
  class="diagram flex max-w-full justify-center rounded-lg bg-base px-6 py-5"
>
  <Svg />
</div>

<style is:global>
  @reference "@/global.css";

  .diagram {
    svg {
      @apply max-w-full!;
    }

    /* ER diagrams */
    #ZERO_OR_ONE_START *,
    #ZERO_OR_ONE_END *,
    #ONLY_ONE_START *,
    #ONLY_ONE_END *,
    #ZERO_OR_MORE_START *,
    #ZERO_OR_MORE_END *,
    #ONE_OR_MORE_START *,
    #ONE_OR_MORE_END *,
    .er.relationshipLine,
    .er.entityBox,
    .er.attributeBoxOdd,
    .er.attributeBoxEven {
      @apply stroke-text!;
    }

    .er.entityBox,
    #ZERO_OR_ONE_START circle,
    #ZERO_OR_ONE_END circle,
    #ZERO_OR_MORE_START circle,
    #ZERO_OR_MORE_END circle {
      @apply fill-primary!;
    }
    .er.entityBox + .er.entityLabel {
      @apply fill-base!;
    }

    .er.entityLabel {
      @apply fill-text!;
    }
    .er.attributeBoxOdd {
      @apply fill-surface0!;
    }
    .er.attributeBoxEven {
      @apply fill-surface1!;
    }

    /* Git graph */
    .branch {
      @apply stroke-text!;
    }
    .label {
      @apply fill-base!;
    }
    .commit {
      @apply fill-text!;
    }
    .commit-label {
      @apply fill-text!;
    }
    .commit-label-bkg {
      @apply fill-transparent!;
    }

    .label0 {
      @apply fill-red!;
    }
    .arrow0 {
      @apply stroke-red!;
    }
    .label1 {
      @apply fill-green!;
    }
    .arrow1 {
      @apply stroke-green!;
    }
    .label2 {
      @apply fill-mauve!;
    }
    .arrow2 {
      @apply stroke-mauve!;
    }
    .label3 {
      @apply fill-peach!;
    }
    .arrow3 {
      @apply stroke-peach!;
    }
    .label4 {
      @apply fill-blue!;
    }
    .arrow4 {
      @apply stroke-blue!;
    }
  }
</style>
