---
import Link from "./Link.astro";
import Socials from "./Socials.astro";
---

<footer class="border-t-4 border-primary bg-base p-4 shadow-sm">
  <div class="pb-4 text-center text-sm font-light text-subtext0">
    Copyright © 2021-2024 Bojan Stipic | Website source code is available on <Link
      href="https://github.com/BojanStipic/website"
      target="_blank">Github</Link
    >, licensed under <Link
      href="https://github.com/BojanStipic/website/blob/master/LICENSE"
      target="_blank">AGPL-3.0-or-later</Link
    >.
  </div>

  <div class="flex justify-center gap-4 text-overlay0">
    <Socials />
  </div>
</footer>
