---

---

<div class="prose max-w-none wrap-break-word md:prose-lg">
  <slot />
</div>

<style is:global>
  @reference "../global.css";

  .prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply leading-relaxed underline decoration-primary underline-offset-12;
    }
    h1,
    h2 {
      @apply decoration-8;
    }
    strong {
      @apply font-bold;
    }
    :not(pre) > code {
      @apply bg-primary/10 px-1 font-normal before:content-none after:content-none;
    }
  }

  /*
  * Shiki code highlighting dual theme support
  * https://shiki.matsu.io/guide/dual-themes#query-based-dark-mode
  */
  @media (prefers-color-scheme: dark) {
    .astro-code,
    .astro-code span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }
</style>
