---
type Props = {
  title: string;
};
const { title } = Astro.props;
---

<section class="flex flex-col gap-8">
  <h2
    class="text-3xl font-bold underline decoration-primary decoration-8 underline-offset-12"
  >
    {title}
  </h2>
  <slot />
</section>
