---
import { Icon } from "astro-icon/components";

import { GITHUB_PROFILE_URL, LINKEDIN_PROFILE_URL, RSS_URL } from "@/consts";
---

<a href={RSS_URL} target="_blank">
  <Icon name="simple-icons:rss" size={24} class="hover:text-primary" />
</a>
<a href={GITHUB_PROFILE_URL} target="_blank">
  <Icon name="simple-icons:github" size={24} class="hover:text-primary" />
</a>
<a href={LINKEDIN_PROFILE_URL} target="_blank">
  <Icon name="simple-icons:linkedin" size={24} class="hover:text-primary" />
</a>
