---
type Props = {
  tags: Array<string>;
};
const { tags } = Astro.props;
---

<ul class="flex flex-wrap gap-2">
  {
    tags.map((tag) => (
      <li class="rounded-lg bg-primary/10 px-2 py-1 text-xs font-semibold text-primary lowercase">
        {tag}
      </li>
    ))
  }
</ul>
