@import "tailwindcss";

/* Colorscheme */
:root {
  /* Catppuccin Latte */
  --ctp-rosewater: #dc8a78;
  --ctp-flamingo: #dd7878;
  --ctp-pink: #ea76cb;
  --ctp-mauve: #8839ef;
  --ctp-red: #d20f39;
  --ctp-maroon: #e64553;
  --ctp-peach: #fe640b;
  --ctp-yellow: #df8e1d;
  --ctp-green: #40a02b;
  --ctp-teal: #179299;
  --ctp-sky: #04a5e5;
  --ctp-sapphire: #209fb5;
  --ctp-blue: #1e66f5;
  --ctp-lavender: #7287fd;
  --ctp-text: #4c4f69;
  --ctp-subtext1: #5c5f77;
  --ctp-subtext0: #6c6f85;
  --ctp-overlay2: #7c7f93;
  --ctp-overlay1: #8c8fa1;
  --ctp-overlay0: #9ca0b0;
  --ctp-surface2: #acb0be;
  --ctp-surface1: #bcc0cc;
  --ctp-surface0: #ccd0da;
  --ctp-base: #eff1f5;
  --ctp-mantle: #e6e9ef;
  --ctp-crust: #dce0e8;

  @media (prefers-color-scheme: dark) {
    /* Catppuccin Mocha */
    --ctp-rosewater: #f5e0dc;
    --ctp-flamingo: #f2cdcd;
    --ctp-pink: #f5c2e7;
    --ctp-mauve: #cba6f7;
    --ctp-red: #f38ba8;
    --ctp-maroon: #eba0ac;
    --ctp-peach: #fab387;
    --ctp-yellow: #f9e2af;
    --ctp-green: #a6e3a1;
    --ctp-teal: #94e2d5;
    --ctp-sky: #89dceb;
    --ctp-sapphire: #74c7ec;
    --ctp-blue: #89b4fa;
    --ctp-lavender: #b4befe;
    --ctp-text: #cdd6f4;
    --ctp-subtext1: #bac2de;
    --ctp-subtext0: #a6adc8;
    --ctp-overlay2: #9399b2;
    --ctp-overlay1: #7f849c;
    --ctp-overlay0: #6c7086;
    --ctp-surface2: #585b70;
    --ctp-surface1: #45475a;
    --ctp-surface0: #313244;
    --ctp-base: #1e1e2e;
    --ctp-mantle: #181825;
    --ctp-crust: #11111b;
  }
}

/* Tailwind config */
@theme inline {
  --color-*: initial;

  --color-primary: var(--ctp-mauve);

  --color-rosewater: var(--ctp-rosewater);
  --color-flamingo: var(--ctp-flamingo);
  --color-pink: var(--ctp-pink);
  --color-mauve: var(--ctp-mauve);
  --color-red: var(--ctp-red);
  --color-maroon: var(--ctp-maroon);
  --color-peach: var(--ctp-peach);
  --color-yellow: var(--ctp-yellow);
  --color-green: var(--ctp-green);
  --color-teal: var(--ctp-teal);
  --color-sky: var(--ctp-sky);
  --color-sapphire: var(--ctp-sapphire);
  --color-blue: var(--ctp-blue);
  --color-lavender: var(--ctp-lavender);
  --color-text: var(--ctp-text);
  --color-subtext1: var(--ctp-subtext1);
  --color-subtext0: var(--ctp-subtext0);
  --color-overlay2: var(--ctp-overlay2);
  --color-overlay1: var(--ctp-overlay1);
  --color-overlay0: var(--ctp-overlay0);
  --color-surface2: var(--ctp-surface2);
  --color-surface1: var(--ctp-surface1);
  --color-surface0: var(--ctp-surface0);
  --color-base: var(--ctp-base);
  --color-mantle: var(--ctp-mantle);
  --color-crust: var(--ctp-crust);
}

/* tailwindcss-typography config */
@plugin "@tailwindcss/typography";
@utility prose {
  --tw-prose-body: var(--ctp-text);
  --tw-prose-headings: var(--ctp-text);
  --tw-prose-lead: var(--ctp-text);
  --tw-prose-bold: var(--ctp-text);
  --tw-prose-links: var(--ctp-mauve);
  --tw-prose-counters: var(--ctp-mauve);
  --tw-prose-bullets: var(--ctp-mauve);
  --tw-prose-hr: var(--ctp-mauve);
  --tw-prose-quotes: var(--ctp-text);
  --tw-prose-quote-borders: var(--ctp-mauve);
  --tw-prose-captions: var(--ctp-mauve);
  --tw-prose-code: var(--ctp-mauve);
  --tw-prose-pre-code: var(--ctp-mauve);
  --tw-prose-pre-bg: var(--ctp-mauve);
  --tw-prose-th-borders: var(--ctp-mauve);
  --tw-prose-td-borders: var(--ctp-mauve);
}
