name: "CI"

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  lint:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-node@v6.1.0"
        with:
          node-version: "24.12.0"
          cache: "npm"
      - run: "npm ci"
      - run: "npm run lint:check"
  format:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-node@v6.1.0"
        with:
          node-version: "24.12.0"
          cache: "npm"
      - run: "npm ci"
      - run: "npm run fmt:check"
  build:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-node@v6.1.0"
        with:
          node-version: "24.12.0"
          cache: "npm"
      - run: "npm ci"
      - run: "npm run build"
